<launch>

<!-- static transform from omni base to a frame floating in mid-air -->
<!--  <node pkg="tf" type="static_transform_publisher" name="floating_frame_broadcaster"
	   args="0.28 0 0.1 0 0 0  /base /floating 100" />  -->

<!-- startup simulator node -->
  <node pkg="omni_pykdl" type="omni_pykdl.py" name="omni_pykdl" respawn="true" output="screen" />

<!-- startup force controller node -->
<!--  <node pkg="phantom_kdl" type="force_controller.py" name="force_controller"
	respawn="true" output="screen" launch-prefix = "xterm -e"/> -->

<!-- startup omni -->
  <include file="$(find omni_common)/launch/omni.launch" />

</launch>