aml_calib/scripts/calib_data.npy
.DS_Store

aml_calib/scripts/camera_calib.pyc
checkpoints

*.pkl

MUJOCO_LOG.TXT

*.gitignore*

*.pyc
*.png
*.jpeg
*.jpg

*.ckpt*

tf_model_delme.py

.ipynb_checkpoints

set_env.bash

.mjm

aml_dl/src/aml_dl/mdn/training/tf_check_points
*summary*

*summary_*