<?xml version="1.0"?>

<robot name="sawyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find aml_sawyer_sim_description)/urdf/sawyer.urdf.xacro" />
  <xacro:include filename="$(find aml_sawyer_sim_description)/urdf/sawyer_stand.urdf.xacro" />
  <xacro:include filename="$(find intera_tools_description)/urdf/electric_gripper/rethink_electric_gripper.xacro" />

  <xacro:sawyer_robot real_mass="true"/>
  <xacro:sawyer_stand />
  <xacro:rethink_electric_gripper side="right"
                                  l_finger="standard_narrow"
                                  l_finger_slot="2"
                                  l_finger_tip="paddle_tip"
                                  l_finger_grasp="inner"
                                  r_finger="standard_narrow"
                                  r_finger_slot="2"
                                  r_finger_tip="paddle_tip"
                                  r_finger_grasp="inner"
                                  use_connector_plate="True"/>

  <!-- ros_control plugin -->
  <gazebo>
    <plugin name="sawyer_arm_control" filename="libaml_sawyer_gazebo_ros_control.so">
      <robotNamespace>/robot</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="sawyer_effector_control" filename="libaml_intera_gripper_gazebo_ros_control.so">
      <robotNamespace>/io</robotNamespace>
    </plugin>
  </gazebo>

  <gazebo reference="head_display">
    <visual>
      <plugin name="screen_video_controller" filename="libgazebo_ros_video.so">
        <height>600</height>
        <width>1024</width>
        <topicName>/robot/head_display</topicName>
      </plugin>
    </visual>
  </gazebo>


   <!-- Gazebo-Specific Link Properties -->
  <gazebo reference="torso">
    <selfCollide>true</selfCollide>
  </gazebo>
  <gazebo reference="head_pan">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_0">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_1">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_2">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_3">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_4">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_5">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>
  <gazebo reference="right_6">
    <implicitSpringDamper>1</implicitSpringDamper>
  </gazebo>

  <!-- ode param -->
  <gazebo reference="r_gripper_f_fingr_tip">
    <mu1>1000</mu1>
    <mu2>1000</mu2>
  </gazebo>
  <gazebo reference="r_gripper_l_fingr_tip">
    <mu1>1000</mu1>
    <mu2>1000</mu2>
  </gazebo>

</robot>
