<launch>

    <include file="$(find aml_calib)/launch/calibrate.launch">
    </include>

    <node pkg="aml_data_collec_utils" type="box_marker_publisher.py" name="box_marker_publisher" output="screen">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" 
    args="-d $(find aml_demos)/rviz_configs/baxter_stochastic_pm.rviz"/>

    <!-- perception implementation -->
    <node pkg="aml_perception" type="camera_sensor.py" name="rgb_camera_scene_view" output="screen"/>

    <node pkg="aml_services" type="pushing_service.py" name="pushing_service" output="screen"/>

    <!-- start the stochastic push machine -->
    <node pkg="aml_demos" type="stochastic_pushing_machine.py" name="spm" output="screen"/>

</launch>