<launch>

    <arg name="control_id" default="1"/>
    <arg name="multiple_goals" default="0"/>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find aml_ctrl)/demos/rviz_configs/controllers_baxter_marker_follower.rviz"/>

    <node pkg="aml_ctrl" type="demo_controllers_baxter_marker_follower.py" name="baxter_marker_follower"
          args="-c $(arg control_id) 
                -m $(arg multiple_goals)"
          output="screen">
    </node>

</launch>