<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sawyer_sim_hardware)/config/control.yaml" command="load"/>

  <!-- load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="/robot" args="joint_state_controller
                                          joint0_controller
                                          joint1_controller
                                          joint2_controller
                                          joint3_controller
                                          joint4_controller
                                          joint5_controller
                                          joint6_controller
                                          head_pan_controller
                                          gripper_l_controller
                                          gripper_r_controller"/>

  <!-- convert joint states to TF transforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/robot/joint_states" />
  </node>

</launch>
